* { 
    /* border: 1px dashed blue; */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}


body {
    background: #e4ebf5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 600px;
    border: 1px solid grey;

}