* { 
    /* border: 1px dashed blue; */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
 /* to cener ver & hor, inner elements or text */
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background: #e5ecf5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: '@Microsoft Yahei Ui Light';
}
#app-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    overflow: hidden;
}


.color-pick {
    position: relative;
    width: 400px;
    height: 600px;
    background: #fafafa;
    /* box-shadow: 4px 4px 20px -4px #c5cbd4; */
    color: whitesmoke;
}


#header {
    height: 50%; /* 50% of parent */
    padding: 20px;
}
#header span {
    color: whitesmoke;
    font-size: 24px;
    background: #00000033;
}


.random {
    float: right;
    width: 40px;
    height: 40px;
    background: #00000033;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}
.random:hover { background: #00000066; }


.main {
    padding: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.range-sliders {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


input.slider {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    outline: none;
    border-radius: 8px;
    background: rgb(101, 132, 179);
    background: #e4ebf5;
    -webkit-transition: 1s;
    transition: 1s;
}
input.slider:hover {
    background: #cfd6df;
    cursor: pointer;
}
input.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 20px;
    height: 20px; 
    background: rgb(245, 86, 86);
    border-radius: 50%;
    transition: .1s;
    cursor: grab;
}
input.slider::-webkit-slider-thumb:hover {
    width: 30px;
    height: 30px;
}

input#red::-webkit-slider-thumb   { background: #ff000099; }
input#green::-webkit-slider-thumb { background: #00ff0099; }
input#blue::-webkit-slider-thumb  { background: #0000ff99; }


.rgb-colors {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rgb-colors span {
    width: 100px;
    height: 50px;
    border-radius: 0px;
    background: #e4ebf5;
    opacity: .8;
}



#tints,
#shades,
#tones {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10;

    width: 100px;
    height: 600px;
    background: white;
    font-size: 12px;
    color: white;
    text-shadow: 0 0 5px black;
}
#shades {
    background: #000000;
}
#tones {
    background: grey;
}

#tints span,
#shades span,
#tones span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.state {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 600px;
    padding: 15px;
    background: #e2e2e2;
}
.row {
    position: relative;
    background: rgba(250, 250, 250, 0.6);
    padding: 10px;
    border-radius: 10px;
}
.row span {
    display: block;
}
.row h3 { padding-bottom: 5px; }
.row #copy-btn {
    opacity: 0;
    float:right;
    width: 20px;
    height:20px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .1s;
}
.row #copy-btn:hover {
    background: #dbdbdb;
}
.row:hover #copy-btn {
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: -38px;
    right: 10px;
    /* border: 1px solid red; */
}
.tooltip span {
    opacity: 0;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    background: rgb(185, 255, 185);
    color: rgb(30, 80, 30);
}

/* instagram: web.script
github: github.com/xcripts
© 2020 Milad Gharibi.  All rights reserved */