* { 
    /* border: 1px dashed blue; */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background: #e4ebf5;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: '@Microsoft Yahei Ui Light';
}

.color-pick {
    /* border: 1px solid grey; */
    width: 400px;
    height: 600px;
    background: #fafafa;
}
.color-pick #header {
    height: 300px;
    background: #a377f7;
}
.color-pick .main {
    padding: 20px;
}


.range-sliders {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    outline: none;

    border-radius: 8px;
    background: #e4ebf5;
    -webkit-transition: .5s;
    transition: .5s;
}
input.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px;
    height: 20px; 
    background: rgb(245, 86, 86);
    border-radius: 50%;
    transition: .1s;
    cursor: pointer;
}
input.slider::-webkit-slider-thumb:hover {
    width: 28px;
    height: 28px;
}

input#red::-webkit-slider-thumb { background: rgba(255, 0, 0, .7);}
input#green::-webkit-slider-thumb { background: rgba(0, 255, 0, .7);}
input#blue::-webkit-slider-thumb { background: rgba(0, 0, 255, .7);}

.slider::-webkit-slider-ran{
    background-color: #43e5f7; 
}

.rgb {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rgb span {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background: #e4ebf5;

    opacity: .7;

    display: flex;
    justify-content: center;
    align-items: center;
}



.color-info {
    width: 200px;
    height: 600px;
    padding: 20px;
    background: #fafafa;
}





.color-shade {
    width: 200px;
    height: 600px;
    /* padding: 20px; */
    background: #fafafa;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10;
}
.color-shade span {
    display: block;
    color: white;
    font-size: 12px;
    text-shadow: 0px 0px 5px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
